<div class="page-title parallax parallax1" style="background-image: {{pageTitle.imageLink}}">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-title-heading">
          <h1 class="title">{{pageTitle.title}}</h1>
          <div class="breadcrumbs">
            <ul>
              <li><a href="/">Home</a></li>
              <li>{{pageTitle.pageName}}</li>
            </ul>
          </div>
        </div><!-- /.page-title-captions -->

      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.page-title -->