<div class="flat-row pad-top90px">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="flat-login">
					<form class="flat-contact-form border-white border-large"
						  (ngSubmit)="registerForm.invalid ? '' : onRegister()" #registerForm="ngForm">
						<div class="field clearfix">
							<div class="wrap-type-input">
								<div *ngIf="notice && isSubmit" class="{{notice.type}}">
									<div>{{notice.message}}</div>
								</div>
								<div class="input-wrap name">
									<label for="username">Username *</label>
									<input type="text" tabindex="1" name="username" id="username" required
										   [(ngModel)]="user.username" #username="ngModel">
									<div *ngIf="username.invalid && (username.dirty || username.touched || isSubmit)"
										 class="error alert-danger">
										<div *ngIf="username.errors.required">Name is required</div>
									</div>
								</div>
								<div class="input-wrap name">
									<label for="email">Email *</label>
									<input type="text" value="" tabindex="1" name="email" id="email" required
										   [(ngModel)]="user.email" #email="ngModel" appEmailValidator>
									<div *ngIf="email.invalid && (email.dirty || email.touched || isSubmit)"
										 class="error alert-danger">
										<div *ngIf="email.errors.required">Email is required</div>
										<div *ngIf="email.errors.email">Email is incorrect</div>
									</div>
								</div>
								<div class="input-wrap name">
									<label for="password">Password *</label>
									<input type="password" tabindex="1" name="password" id="password" required
										   [(ngModel)]="user.password" #password="ngModel" minlength="6" maxlength="30">
									<div *ngIf="password.invalid && (password.dirty || password.touched || isSubmit)"
										 class="error alert-danger error-end">
										<div *ngIf="password.errors.required">Password is required</div>
										<div *ngIf="password.errors.minlength || password.errors.maxlength">Email must
											have 6 to 30 characters.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="create-account"><p>You must complete required field to submit form.</p></div>
						<div class="submit-wrap">
							<button type="submit" (click)="isSubmit = true">register</button>
						</div>
						<div class="create-account">
							<p>If you have account</p>
							<div class="link-submit-wrap">
								<a routerLink="/login">Login to your account</a>
							</div>
						</div>
					</form><!-- /.comment-form -->
				</div><!-- /.flat-login -->
			</div><!-- /.col-md-6 .col-md-offset-3 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>