<div class="top">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="language">
          <ul class="flat-information">
            <li class="email"><a href="mailto:AlitStudios@gmail.com">AlitStudios@gmail.com</a></li>
            <li class="phone"><a href="61383766284.html">+61 3 8376 6284</a></li>
            <li class="current"><a href="#">English</a>
              <ul>
                <li class="en"><a href="#">English</a></li>
                <li class="ge"><a href="#">German</a></li>
                <li class="pl"><a href="#">Polish</a></li>
                <li class="ru"><a href="#">Russian</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.language -->
      </div><!-- /.col-md-6 -->
      <div class="col-md-6">
        <div class="top-navigator">
          <ul>
            <li><a href="#">Register</a></li>
            <li><a href="login.html">Login</a></li>
          </ul>
        </div><!-- /.top-navigator -->
      </div><!-- /.col-md-6 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.top -->