<section class="flat-row parallax parallax3">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title-section cl-white">
					<h1 class="title">Search For Question Type</h1>
					<div class="desc">
						<p>Vut sagittis a, magna ridiculus! Scelerisque parturient! Cum duis nunc in, dignissim, porta
							porta enim, proin<br> turpis egestas! Mauris dapibus sed integer placerat, scelerisque!</p>
					</div>
				</div><!-- /.title-section -->

				<div class="row">
					<div class="flat-divider d50px"></div>
				</div>

				<!-- Fillter courses -->
				<form class="flat-contact-form fillter-courses border-radius border-white text-center" #testForm="ngForm">
					<div class="field clearfix">
						<div class="wrap-type-input" style="display: inline-flex">
							<div class="wrap categories-courses">
								<select class="select-field" name="appointment_services" title="Choose categories"
									[(ngModel)]="categoryCode" (change)="subCategory = ''">
									<option value="" selected="selected">Choose categories</option>
									<option *ngFor="let category of categories" value="{{category.categoryCode}}">{{category.categoryCode}}</option>
								</select>
							</div><!-- /.wrap-select -->

							<div class="wrap courses-level">
								<select class="select-field" name="appointment_services" title="Choose level"
										[(ngModel)]="subCategory">
									<option value="" selected="selected">Choose categories</option>
									<option *ngFor="let subCategoryName of getCategory().subcategoriesName; let i = index"
											value="{{getCategory().subcategoriesCode[i]}}" >
										{{subCategoryName}}
									</option>
								</select>
							</div><!-- /.wrap-select -->

							<!--<div class="wrap courses-keyword">-->
								<!--<input type="text" value="" placeholder="Courses keyword" name="subject-flat"-->
									   <!--id="subject-flat">-->
							<!--</div>-->

							<div class="wrap all-categories">
								<button routerLink="/test-center/examination/{{subCategory}}">Start Examination</button>
							</div>
						</div><!-- /.wrap-type-input -->

					</div><!-- /.field -->
				</form><!-- /.comment-form -->

				<div class="title-section cl-white clearfix">
					<h1 class="title" style="font-size: 30px">{{getCategory().categoryCode}}</h1>
					<div class="desc">
						<p>{{getCategory().categoryIntro}}</p>
					</div>
				</div><!-- /.title-section -->
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>