.Content{
  background-color: rgb(242,244,247);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  min-height: 200px;
}
.Content h3{
  margin-top: 10px;
  margin-bottom:10px;
}
.Content .answer p{
  margin: 5px 0px;
  padding: 8px 10px;
  cursor: pointer;
}
.Content .answer p.choice{
  background-color: rgb(0,175,173);
  border-radius: 3px;
}
.Content .answer p:hover{
  background-color: rgb(0,175,173);
  border-radius: 3px;
}

.TextArea{
  width: calc(100% - 20px);
  height: 100px;
  border-color: #fff;
  border-radius: 5px;
  background-color: #fff;
  font-size: 15px;
  padding: 5px 10px;
}
