<div class="flat-row pad-top90px">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="flat-login">
					<form class="flat-contact-form border-white border-large"
						  (ngSubmit)="verifyForm.invalid ? '' : onVerify()" #verifyForm="ngForm">

						<div class="field clearfix">
							<div class="wrap-type-input">
								<div *ngIf="notice && isSubmit" class="{{notice.type}}">
									<div>{{notice.message}}</div>
								</div>
								<div class="input-wrap name">
									<label for="email">Email *</label>
									<input type="text" value="" tabindex="1" name="email" id="email" required
										   [(ngModel)]="verificationDto.email" #email="ngModel" appEmailValidator>
									<div *ngIf="email.invalid && (email.dirty || email.touched || isSubmit)"
										 class="error alert-danger">
										<div *ngIf="email.errors.required">Email is required</div>
										<div *ngIf="email.errors.email">Email is incorrect</div>
									</div>
								</div>
								<div class="input-wrap name">
									<label for="email">Code *</label>
									<input type="text" tabindex="1" name="activationDigest" id="activationDigest"
										   required
										   [(ngModel)]="verificationDto.activationDigest" #activationDigest="ngModel"
										   minlength="{{lengthCode}}" maxlength="{{lengthCode}}">
									<div
										*ngIf="activationDigest.invalid && (activationDigest.dirty || activationDigest.touched || isSubmit)"
										class="error alert-danger">
										<div *ngIf="activationDigest.errors.required">Code is required</div>
										<div
											*ngIf="activationDigest.errors.minlength || activationDigest.errors.maxlength">
											Code must have {{lengthCode}} characters.
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="create-account"><p>You must complete required field to submit form.</p></div>
						<div class="submit-wrap">
							<button type="submit" (click)="isSubmit = true">verify account</button>
						</div>
						<div class="create-account">
							<p>If you have account</p>
							<div class="link-submit-wrap">
								<a routerLink="/login">Login to your account</a>
							</div>
						</div>
					</form><!-- /.comment-form -->
				</div><!-- /.flat-login -->
			</div><!-- /.col-md-6 .col-md-offset-3 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</div>